<!DOCTYPE html>
<html lang="en" ng-app="app.todos">

<head>
    <meta charset="UTF-8">
    <title>Node/Angular Todos</title>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Font robot-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Font Spirax-->
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <!-- Font awsome-->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Css home-->
    <link rel="stylesheet" href="/assets/css/register.css">
    <!-- Css bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="header_first">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="#"><img src="/assets/img/logodivui.png" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="ctg" href="#">TOUR</a></li>
                            <!--<li><a href="#">Link</a></li>-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="ctg" href="#">Đăng Ký</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle ctg" data-toggle="dropdown">Đăng Nhập</a>
                                <ul class="dropdown-menu">

                                    <h4 id="login">Đăng Nhập</h4>
                                    <form action="/login" method="post">

                                        <div class="form-group">
                                            <label for="email">Tên đăng nhập:</label>
                                            <input type="text" class="form-control" id="username" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Lưu lại tài khoản</label>
                                        </div>
                                        <button type="submit" Class="btn btn-primary login" name="submit" value="submit">Đăng Nhập</button>
                                        <!--<a href="/dangKy" Class="btn btn-danger register">Đăng Ký</a>-->
                                    </form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    <div class="form_pay">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h3 class="">Thanh Toán</h3>
                    <form action="/register" method="POST">
                        <div class="pay_wrapp">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Họ &amp; Tên <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <input id="customerName" name="fullname" type="text" class="form-control" maxlength="200" value="">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Điện thoại <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <input id="customerPhone" name="phone" type="text" class="form-control" maxlength="200" value="">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Address <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <input id="customerEmail" name="address" type="text" class="form-control" maxlength="200" value="">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Hãng xe <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <select class="form-control" id="" name="busID">
                                    <% buss.forEach(function(bus){ %>
                                        <option value='<%= bus.id %>'><%= bus.nameService %></option>
                                    <% }); %>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Số người lớn <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <select class="form-control" id="" name="numberAdult">
                                    <option value="1">1 Khách</option>
                                    <option value="2">2 Khách</option>
                                    <option value="3">3 Khách</option>
                                    <option value="4">4 Khách</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Số trẻ em <15 tuổi <sup><i class="glyphicon glyphicon-asterisk vcolor-danger"></i></sup></label>
                                    <select class="form-control" id="" name="numberAdult">
                                        <option value="0">0 Có trẻ em</option>
                                        <option value="1">1 Em</option>
                                        <option value="2">2 Em</option>
                                        <option value="3">3 Em</option>
                                        <option value="4">4 Em</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Nhà hàng</label>
                                    <select class="form-control" id="" name="numberAdult">
                                        <option value="0">0 Có trẻ em</option>
                                        <option value="1">1 Em</option>
                                        <option value="2">2 Em</option>
                                        <option value="3">3 Em</option>
                                        <option value="4">4 Em</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <textarea class="form-control" id="notes" name="notes" cols="30" rows="3" placeholder="Yêu cầu khác ..."></textarea>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary button_pay">HOÀN TẤT ĐĂNG KÝ <i class="fa fa-check"></i></button>
                            </div>

                            <input type="hidden" value="<%=tourID %>" name="tourID"/>
                        </div>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="item_wrapp">
                        <div class="img_item">
                            <div class="ribbon">
                                <strong class="ribbon-content">Giảm giá sock</strong>
                            </div>
                            <img src="/assets/img<%=tourBook.picture %>" alt="" class="img-responsive" style="height: 202px; width: 100%;">
                        </div>
                        <div class="item_info">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <a href="<%=tourBook.id %>">
                                    <h4>
                                        <%=tourBook.nameTour %>
                                    </h4>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 place_start">
                                <i class="fa fa-map-marker"></i><span class="from"><%=tourBook.departure %></span>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 time_start">
                                <i class="fa fa-clock-o"></i><span class="time_travel"><%=tourBook.distanceDay %></span>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                <i class="fa fa-bus"></i>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <hr/>
                            </div>

                            <div class="col-md-5 money">
                                <span class="money"><%=tourBook.money %>VNĐ</span>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-3 start">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footer_first">
            <div class="container">
                <div class="row">

                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="col-md-4">
                            <ul class="footer_info">
                                <li><b>Về diVui</b></li>
                                <li>Chúng tôi</li>
                                <li>Thông Tin Cần Biết</li>
                                <li>Lời Cảm Ơn</li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul class="footer_info">
                                <li><b>Thông Tin Cần Biết</b></li>
                                <li>Điều kiện & Điều khoản</li>
                                <li>Quy chế hoạt động</li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul class="footer_info">
                                <li><b>Đối Tác & Liên kết</b></li>
                                <li>Vietnam Airlines</li>
                                <li> VNExpress</li>
                                <li>Tiki.vn - Mua sắm online</li>
                            </ul>
                        </div>
                        <div class="col-md-12" style=" margin-top: 20px; margin-left: 45px;">
                            <p>diVui © 2017 - Hệ thống đặt phòng khách sạn & tours trực tuyến hàng đầu Việt Nam</p>
                            <p><i class="fa fa-map-marker"></i> Tam Ky: Đại học Quảng Nam </p>
                            <p><i class="fa fa-map-marker"></i> Đà Nẵng: FPT</p>
                            <p><i class="fa fa-mail"></i> tour@ivivu.com</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h4>QUICK CONTACT</h4>
                        <p>Góp ý nhan với chúng tôi</p>
                        <form id="quickContact">
                            <input type="" name="" class="form-control">
                            <textarea class="form-control" rows="5"></textarea>
                            <button type="button" class="btn btn-primary">Gửi Tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_last">
            <div class="col-md-12 col-sm-12">
                <p>Copyright 2016 © <a href="#"> Inwavethemes</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>